.header {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  transition: color 0.3s;
  width:100%;
  background-color: #caa337;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(146, 129, 129, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}